@font-face {
    font-family: 'Courgette';
    src: url("assets/fonts/Courgette-Regular.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Courgette';
    src: url("assets/fonts/Courgette-Regular.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 300;
  }

body {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    min-height: 100vh;
    margin: 0; padding: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .header .container .nav-list {
    display: flex;
    flex-wrap: wrap; 
  }

.footer {
    border: 1px solid red;
  }
.main {
    border: 1px solid red; 
  }
.header {
    border: 1px solid red;
  }


* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-family: 'Courgette', 'sans-serif';
    font-size:18px;
    font-weight: 400;
    color: #545fef;
    transition: .5s;
  }
  .nav-link:hover{
    color: #fa3838;
  }

  .nav-link:visited {
    color: #978c8c;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

   .section h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
  }

  h1.section-title  {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.5;
  }

  .contacts-first {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    color:#799a7d;
  }

  .contacts-second {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    margin-left: 10px;
    color:#454251;
  }

  .section-summary {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    color:#000000;
  }

  .skills-content{
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    color:#000000;
  }

  .code-realization {
    padding-left: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 100;
    font-family: 'sans-serif';
    color:#000000;
  }

  .education-institute {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    color:#000000;
  }

  .languages {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    color:#000000;
  }
  

  